<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/style.css">

  <title>BS4 + WP</title>
</head>

<body>
  <div class="container">
    <div class="row my-5 align-items-center">
      <div class="col-8">
        <h1>My first theme</h1>
        <p class="lead">Made with wordPress</p>
      </div>
      <div class="col-4">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What are you looking for?">
            <div class="input-group-append">
              <button class="btn btn-success" type="button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menuNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-8">
        <div class="blog-post">
          <h3 class="mb-3 pb-2 border-bottom">
            <a href="">Lorem ipsum dolor sit amet</a>
          </h3>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
          <p class="text-muted">
            Published at: <span class="badge badge-info">23/07/2018</span>
          </p>
        </div>
      </div>
    </div>

  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</body>

</html>
