<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./css/bootstrap.css">
  <link rel="stylesheet" href="./css/style.css">

  <title>BS4 + WP</title>
</head>

<body>
  <div class="container">
    <div class="row my-5 align-items-center">
      <div class="col-12 col-md-8">
        <h1>My first theme</h1>
        <p class="lead">Made with wordPress</p>
      </div>
      <div class="col-12 col-md-4">
        <form>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="What are you looking for?">
            <div class="input-group-append">
              <button class="btn btn-success" type="button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="menuNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="./">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./">Contact</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-8">
        <div class="blog-post mb-5">
          <h3 class="mb-3 pb-2 border-bottom">
            <a href="">Lorem ipsum dolor sit amet</a>
          </h3>
          <div class="row">
            <div class="col-12 col-lg-6">
              <a href="">
                <img class="img-fluid" src="./assets/lighthouse.jpg" alt="paisagem">
              </a>
            </div>
            <div class="col-12 col-lg-6">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
          <p class="text-muted">
            Published at: <span class="badge badge-info">23/07/2018</span>
          </p>
        </div>

        <div class="blog-post mb-5">
          <h3 class="mb-3 pb-2 border-bottom">
            <a href="">Lorem ipsum dolor sit amet</a>
          </h3>
          <div class="row">
            <div class="col-12 col-lg-6">
              <a href="">
                <img class="img-fluid" src="./assets/lighthouse.jpg" alt="paisagem">
              </a>
            </div>
            <div class="col-12 col-lg-6">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
          <p class="text-muted">
            Published at: <span class="badge badge-info">23/07/2018</span>
          </p>
        </div>

        <div class="blog-post mb-5">
          <h3 class="mb-3 pb-2 border-bottom">
            <a href="">Lorem ipsum dolor sit amet</a>
          </h3>
          <div class="row">
            <div class="col-12 col-lg-6">
              <a href="">
                <img class="img-fluid" src="./assets/lighthouse.jpg" alt="paisagem">
              </a>
            </div>
            <div class="col-12 col-lg-6">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
          <p class="text-muted">
            Published at: <span class="badge badge-info">23/07/2018</span>
          </p>
        </div>

        <div class="blog-post mb-5">
          <h3 class="mb-3 pb-2 border-bottom">
            <a href="">Lorem ipsum dolor sit amet</a>
          </h3>
          <div class="row">
            <div class="col-12 col-lg-6">
              <a href="">
                <img class="img-fluid" src="./assets/lighthouse.jpg" alt="paisagem">
              </a>
            </div>
            <div class="col-12 col-lg-6">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into
                electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of
                Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
                Aldus PageMaker including versions of Lorem Ipsum.
              </p>
            </div>
          </div>
          <p class="text-muted">
            Published at: <span class="badge badge-info">23/07/2018</span>
          </p>
        </div>

        <div class="blog-pagination mb-5">
          <a href="" class="btn btn-outline-primary">Mais antigos</a>
          <a href="" class="btn btn-outline-primary">Mais novos</a>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card mb-4">
          <h5 class="card-header">Categorias</h5>
          <div class="card-body">
            <ul>
              <li><a href="">Projetos</a></li>
              <li><a href="">Novidades</a></li>
              <li><a href="">Planos</a></li>
            </ul>
          </div>
        </div>

        <div class="card mb-4">
          <h5 class="card-header">Últimos posts</h5>
          <div class="card-body">
            <ul>
              <li><a href="">Lorem ipsum dolor sit amet</a></li>
              <li><a href="">Lorem ipsum dolor sit amet</a></li>
              <li><a href="">Lorem ipsum dolor sit amet</a></li>
              <li><a href="">Lorem ipsum dolor sit amet</a></li>
              <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
          </div>
        </div>

        <div class="card mb-4">
          <h5 class="card-header">Links</h5>
          <div class="card-body">
            <ul>
              <li><a href="">Facebook</a></li>
              <li><a href="">Instagram</a></li>
              <li><a href="">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="w-100 bg-secondary border-top border-dark mt-5">
    <div class="container">
      <div class="row">
        <div class="col py-5 text-center text-white">
          <h5>Meu primeiro tema wordpress</h5>
          <p>Feito com muita dedicação e esforço!</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/popper.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
</body>

</html>
